body{
    margin:0;
    padding: 5rem 0 5rem 0;
    width: 100%;
    font-size: 10px;
    font-family: "Playwrite US Modern", serif;
    height: 100%;
    background-color: darkgreen;
}

.page{
    position: relative;
    z-index: 3;
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
    text-align: center;
}

h1{
    font-size: 5rem;
    font-weight: 600;
    text-shadow: 2px 2px 2px;
    margin: 10rem 5rem 5rem 0;
    padding: 0 0 0 0;
    color: darkred;
    line-height: 3rem;
}

#timer{
    margin: 6rem 0 0 0;
    font-size: 6rem;
    font-weight: 300;
    color: gold ;
}

span{
    margin: 0 4rem 0 0;
    display: inline-block;
    text-align: center;
    line-height: 1.7rem;
}

i{
    font-style: normal;
    font-size: 1rem;
    color: gold;
} 


